<div class="container">
    <h1 class="mt-2">{{title}}</h1>
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="myform">
                <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input class="w-100" matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Manager</mat-label>
                    <input class="w-100" matInput formControlName="manager">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Descripción</mat-label>
                    <textarea class="w-100" matInput
                        formControlName="description"></textarea>
                </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>imageUrl</mat-label>
                <textarea class="w-100" matInput
                          formControlName="imageUrl"></textarea>
              </mat-form-field>
                <button mat-raised-button class="w-100 p-2"
                    (click)="addMusician()">Agregar</button>
            </form>
        </div>
    </div>
</div>
