mat-card {
  margin: 20px;
}
img {
  max-width: 30%;
  height: auto; /* Altura de la imagen */
  object-fit: cover; /* Asegura que las imágenes se redimensionen correctamente */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black; /* Agrega un marco de 5px de ancho y de color negro */
  border-radius: 10px;
}
